{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{range $index, $element := $paginator.Pages}}
<div class="article col {{ if and (le $index 1) ( eq $paginator.PageNumber 1 ) }}col-6 col-t-12 grid__post animate article--big{{ else }}col-4 col-d-6 col-t-12 grid__post animate{{ end }}">
  <div class="article__inner">

    <a class="article__image" href="{{ .RelPermalink }}">
      <img class="lazy" data-src="{{.Params.Image | absURL }}" alt="{{ .Title }}">
    </a>

    <div class="article__content">

        <div class="article__meta">
          <span class="article__minutes">{{ .ReadingTime }} min read</span>
          <time class="article__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>

        <h2 class="article__title">{{ .Title }}</h2>

        <p class="article__excerpt">{{ if .Description }}{{ .Description }}{{ else }}{{ truncate 142 .Summary | safeHTML }}{{ end }}</p>

        <div class="article__bottom">

          <div class="article__author">
            <a href="/about/" aria-label="{{.Site.Params.author.name}}">
              <img class="article__author-image lazy" data-src="{{ .Site.Params.author.avatar | absURL }}" alt="{{.Site.Params.author.name}}'s Picture">
            </a>
          </div>

          <div class="article__bottom-meta">
            <a class="article__author-link" href="/about/">{{ .Site.Params.author.name }}</a>
            <span>in</span>
            {{ if .Params.tags }}
            <span class="article-tags">
              {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}" class="article__tag">{{ .LinkTitle }}</a>
              {{ end }}
            </span>
            {{ end }}
          </div>

        </div>

      </div>
  </div>
</div>
{{ end }}