/* Tags Page */
.tags__box {
  position: relative;
  margin: 200px 0 80px;
  text-align: center;
  @media only screen and (max-width: $desktop) {
    margin: 144px 0 50px;
  }
  @media only screen and (max-width: $mobile) {
    margin: 114px 0 50px;
  }
}

.tags__meta {
  font-size: 16px;
  color: rgba($text-color, .6);
}

.tags__title {
  position: relative;
  margin: 0;
  font-size: 47px;
  line-height: 57px;
  text-transform: capitalize;
  @media only screen and (max-width: $mobile) {
    font-size: 40px;
    line-height: 52px;
  }
}

.tags__name {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 32px;
  a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px 5px 0;
    font-size: 12px;
    line-height: 10px;
    font-weight: 700;
    text-transform: capitalize;
    border: 3px solid rgba(255,255,255,0.1);
    border-radius: 24px;
    color: $gray;
    &:hover {
      border-color: $brand-color;
      color: $white;
    }
  }
}