{{ define "main" }}

<!-- begin hero -->
{{ if .Params.image }}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
    </div>
    <div class="hero__content">
      <h1 class="hero__title">{{ .Title }}</h1>
    </div>
  </div>
</section>

{{ else }}

<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{ .Title }}</h1>
    </div>
  </div>
</section>
{{ end }}
<!-- begin hero -->

<!-- begin page -->
<div class="container">
  <article class="page animate">

    <div class="page__content">
      <div class="form-box">
        <div class="contact-head">
          {{ if .Content }}
            <div class="page-description">{{ .Content }}</div>
          {{ end }}
        </div>

        <form class="form"
          action="{{ if .Site.Params.contact.email }}https://formspree.io/f/{{.Site.Params.contact.email}}{{ else }}#{{ end }}"
          method="POST">
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-name">Your Name</label>
            <input class="form__input" id="form-name" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-email">Your Email</label>
            <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Email" required>
          </div>
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-text">Your Message</label>
            <textarea class="form__input" id="form-text" name="text" rows="10" placeholder="Message" required></textarea>
          </div>
          <div class="form__group">
            <button class="button button--primary" type="submit">Send Message</button>
          </div>
        </form>
        <hr>
      </div>
    </div>

  </article>
</div>
<!-- end page -->

{{ end }}